version: '3.7'

services:
  nginx_broadway_demo:
    container_name: nginx_broadway_demo
    image: nginx:latest
    ports:
      - 8080:80
    volumes:
      - ./www:/var/www
      - ./docker/nginx/vhost.conf:/etc/nginx/conf.d/default.conf
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - dynamodb
      - php_fpm_broadway_demo

    environment:
      - AWS_ACCESS_KEY_ID=not-a-real-key
      - AWS_SECRET_ACCESS_KEY=@@not-a-real-secret
      - AWS_EVENT_STORE_TABLE=event_store
      - REGION=eu-west-1

  php_fpm_broadway_demo:
    container_name: php_fpm_broadway_demo
    build:
      context: ./docker/php
    ports:
      - 9000:9000
    volumes:
      - .:/var/www/web
    depends_on:
      - dynamodb
    environment:
      - AWS_ACCESS_KEY_ID=not-a-real-key
      - AWS_SECRET_ACCESS_KEY=@@not-a-real-secret
      - AWS_EVENT_STORE_TABLE=event_store
      - REGION=eu-west-1

  dynamodb:
    container_name: dynamodb
    image: amazon/dynamodb-local
    ports:
      - 8000:8000
    expose:
      - 8000
